BooksMVC.DomainModel/Service References/AuthorWcfService/AuthorWcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthorWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/BooksWcfServices/AuthorWcfService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/BooksWcfServices/AuthorWcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/BooksWcfServices/AuthorWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BooksWcfServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthorWcfService_GetAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthor" />
  </wsdl:message>
  <wsdl:message name="IAuthorWcfService_GetAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorWcfService_CreateAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAuthor" />
  </wsdl:message>
  <wsdl:message name="IAuthorWcfService_CreateAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorWcfService_EditAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:EditAuthor" />
  </wsdl:message>
  <wsdl:message name="IAuthorWcfService_EditAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditAuthorResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthorWcfService">
    <wsdl:operation name="GetAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorWcfService/GetAuthor" message="tns:IAuthorWcfService_GetAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorWcfService/GetAuthorResponse" message="tns:IAuthorWcfService_GetAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorWcfService/CreateAuthor" message="tns:IAuthorWcfService_CreateAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorWcfService/CreateAuthorResponse" message="tns:IAuthorWcfService_CreateAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorWcfService/EditAuthor" message="tns:IAuthorWcfService_EditAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorWcfService/EditAuthorResponse" message="tns:IAuthorWcfService_EditAuthor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthorWcfService" type="tns:IAuthorWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAuthor">
      <soap:operation soapAction="http://tempuri.org/IAuthorWcfService/GetAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAuthor">
      <soap:operation soapAction="http://tempuri.org/IAuthorWcfService/CreateAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditAuthor">
      <soap:operation soapAction="http://tempuri.org/IAuthorWcfService/EditAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthorWcfService">
    <wsdl:port name="BasicHttpBinding_IAuthorWcfService" binding="tns:BasicHttpBinding_IAuthorWcfService">
      <soap:address location="http://localhost/BooksWcfServices/AuthorWcfService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>