trunk/BooksMVC.DomainModel/Service References/BookWcfService/BookWcfService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BooksWcfServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BooksWcfServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BooksWcfServices/BookWcfService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfAuthorServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthorServiceModel" nillable="true" type="tns:AuthorServiceModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthorServiceModel" nillable="true" type="tns:ArrayOfAuthorServiceModel" />
  <xs:complexType name="AuthorServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorID" nillable="true" type="xs:int" />
      <xs:element name="AuthorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Books" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorServiceModel" nillable="true" type="tns:AuthorServiceModel" />
  <xs:complexType name="ArrayOfBookServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookServiceModel" nillable="true" type="tns:BookServiceModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookServiceModel" nillable="true" type="tns:ArrayOfBookServiceModel" />
  <xs:complexType name="BookServiceModel">
    <xs:sequence>
      <xs:element name="Authors" nillable="true" type="tns:ArrayOfAuthorServiceModel" />
      <xs:element minOccurs="0" name="BookID" nillable="true" type="xs:int" />
      <xs:element name="BookName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="SelectedAuthors" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookServiceModel" nillable="true" type="tns:BookServiceModel" />
</xs:schema>