trunk/BooksMVC.DomainModel/Service References/BookWcfService/BookWcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/BooksWcfServices/BookWcfService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/BooksWcfServices/BookWcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/BooksWcfServices/BookWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BooksWcfServices" />
      <xsd:import schemaLocation="http://localhost/BooksWcfServices/BookWcfService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookWcfService_GetAuthors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthors" />
  </wsdl:message>
  <wsdl:message name="IBookWcfService_GetAuthors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorsResponse" />
  </wsdl:message>
  <wsdl:message name="IBookWcfService_GetBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooks" />
  </wsdl:message>
  <wsdl:message name="IBookWcfService_GetBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IBookWcfService_GetBook_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBook" />
  </wsdl:message>
  <wsdl:message name="IBookWcfService_GetBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookWcfService_CreateBook_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBook" />
  </wsdl:message>
  <wsdl:message name="IBookWcfService_CreateBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookWcfService_EditBook_InputMessage">
    <wsdl:part name="parameters" element="tns:EditBook" />
  </wsdl:message>
  <wsdl:message name="IBookWcfService_EditBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookWcfService_RemoveBook_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBook" />
  </wsdl:message>
  <wsdl:message name="IBookWcfService_RemoveBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBookResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookWcfService">
    <wsdl:operation name="GetAuthors">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookWcfService/GetAuthors" message="tns:IBookWcfService_GetAuthors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookWcfService/GetAuthorsResponse" message="tns:IBookWcfService_GetAuthors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookWcfService/GetBooks" message="tns:IBookWcfService_GetBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookWcfService/GetBooksResponse" message="tns:IBookWcfService_GetBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookWcfService/GetBook" message="tns:IBookWcfService_GetBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookWcfService/GetBookResponse" message="tns:IBookWcfService_GetBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookWcfService/CreateBook" message="tns:IBookWcfService_CreateBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookWcfService/CreateBookResponse" message="tns:IBookWcfService_CreateBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookWcfService/EditBook" message="tns:IBookWcfService_EditBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookWcfService/EditBookResponse" message="tns:IBookWcfService_EditBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookWcfService/RemoveBook" message="tns:IBookWcfService_RemoveBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookWcfService/RemoveBookResponse" message="tns:IBookWcfService_RemoveBook_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBookWcfService" type="tns:IBookWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAuthors">
      <soap:operation soapAction="http://tempuri.org/IBookWcfService/GetAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <soap:operation soapAction="http://tempuri.org/IBookWcfService/GetBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBook">
      <soap:operation soapAction="http://tempuri.org/IBookWcfService/GetBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBook">
      <soap:operation soapAction="http://tempuri.org/IBookWcfService/CreateBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditBook">
      <soap:operation soapAction="http://tempuri.org/IBookWcfService/EditBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveBook">
      <soap:operation soapAction="http://tempuri.org/IBookWcfService/RemoveBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookWcfService">
    <wsdl:port name="BasicHttpBinding_IBookWcfService" binding="tns:BasicHttpBinding_IBookWcfService">
      <soap:address location="http://localhost/BooksWcfServices/BookWcfService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>