BooksMVC/Service References/AuthorWcfService/AuthorWcfService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BooksWcfServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BooksWcfServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthorServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorID" nillable="true" type="xs:int" />
      <xs:element name="AuthorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Books" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorServiceModel" nillable="true" type="tns:AuthorServiceModel" />
</xs:schema>